@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --blue:#0000ff5b;
  }
}

body {
  background: #e6e2e2 ;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}
